

/* Start Gallery Area css
============================================================================================ */

.gallery_area {
    padding: 120px 0 90px;
}

.single-gallery {
    position: relative;
    margin-bottom: 30px;
    .content {
        max-height: 36px;
        max-width: 36px;
        @extend .overlay;
        left: 50%;
        top: 20%;
        @include transform(translate(-50%, -50%));
        i {
            font-size: 36px;
            font-weight: 600;
            color: #ffffff;
            opacity: 0;
            @include transition();
        }
    }
    &:hover {
        cursor: pointer;
        .overlay {
            background: rgba(73, 63, 157, 0.85);
        }
        .content {
            background: transparent;
            top: 50%;
            i {
                opacity: 1;
            }
        }
    }
    .overlay {
        @include transition();
    }
}

/* End Gallery Area css
============================================================================================ */

/* Start Frequently Asked Questions Area css
============================================================================================ */

.frequently_area {
    position: relative;
    .main_title {
        margin-bottom: 40px;
        h1 {
            color: #22195e;
        }
    }
}

.frequent_item {
    position: relative;
    h3 {
        font-size: 18px;
        color: #22195e;
        padding-top: 40px;
        margin: 0;
    }
    p {
        font-weight: 400;
        padding: 30px 20px 40px 0;
        margin: 0;
        &:after {
            content: "";
            position: absolute;
            width: 150%;
            border: 1px dashed rgba(199, 199, 199, 0.5);
            left: 0;
            bottom: 0;
        }
    }
    &.last-child p:after {
        display: none !important;
    }
}

.frequent_inner {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        height: 86%;
        border: 1px dashed rgba(199, 199, 199, 0.5);
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
    }
}

/* End Frequently Asked Questions Area css
============================================================================================ */


/* Start Newsletter Area css
============================================================================================ */

.newsletter_area {
    @include gradient(to right, $primary-color 0%, $primary-color2 100%);
    padding: 68px 0 60px;
    .newsletter_inner {
        h1 {
            color: #22195e;
        }
        p {
            margin: 0;
        }
    }
    .newsletter_widget {
        float: right;
        min-width: 100%;
        margin-top: 15px;
        input[type="email"] {
            padding: 13px 30px;
            width: 100%;
            border: transparent;
            border-radius: 50px;
            outline: none;
        }
        .btn.primary_btn {
            position: absolute;
            right: 4px;
            line-height: 40px;
            border-radius: 40px;
            top: 4px;
            color: #22195e;
            box-shadow: none;
        }
    }
}

/* End Newsletter Area css
============================================================================================ */