/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Anonymous Pro', monospace;


/*Color Variables*/
$primary-color: #396afc;
$primary-color2: #2948ff;
$title-color: #222222;
$text-color: #777777;
$header-color: #000;
$white: #fff;
$dark-bg: #0D141A;


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto');


